.card{
    border-radius: 20px;
    justify-self: center;
    background-color: whitesmoke;
    padding: 5px 5px;    
}

.container-card{
    position: relative;
    display: inline-block;
    align-items: center;
    width: 30%;
    padding: 10px 10px;
    border-radius: 20px;
    margin-inline-start: 5px;
    margin-bottom: 10px;
    background-image: url("https://images.unsplash.com/photo-1526304640581-d334cdbbf45e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dXMlMjBkb2xsYXJ8ZW58MHx8MHx8&w=1000&q=80");
}

.actions{
    display: inline-flex;
}

.btn-del{
    margin-left: 60%;
    cursor: pointer;
    background: #f10707;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:whitesmoke;
}