.Log{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}

.link{
  color:whitesmoke
}

.logo{
  position: absolute;
  margin-top: 6px;
  margin-left: 5px;
}

.nav{
  background: linear-gradient(205deg, rgb(70, 208, 233) 0%, rgb(12, 77, 138) 35%, rgb(77, 170, 147) 100%);
}


.signIn {
  font-size: 10px;
  color: rgb(59, 59, 59);
}



.btn_sub{
  margin-left: 67vmax;
  cursor: pointer;
  box-shadow: red;
  background: #daa29d;
}

.landingPage__button_text {
  color: #000000;
  font-size: 13px;
  width: 50px;
}




