.toLog {
  margin-left: 6px;
  cursor: pointer;
  background:rgb(194, 91, 91);
  border-radius: 40px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  color:whitesmoke;
}

.text{
    background-color: whitesmoke ;
    text-align: center;
}

.body-home{
    background-image: url("https://cutewallpaper.org/21/calculator-background/Free-image-of-Calculator-key-background.jpg");
}

.filter{
    font-size: 16px;
    background: #c85a1a;
    margin-left: 10%;
}

.filter-cont{
    font-size: 15px;
    margin-left: 35px;
    background: #c85a1a;
    text-align: center;
    
}


.foot{
    margin-left: 45%;
}

.txt-btn{
    color:whitesmoke;
}

.header{
    display: inline-flex;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;
}